.contentArea
{
	background-color:#ffffff;
}

.contentArea, .contentAreaLarge
{
	padding:10px;
	margin-left:10px;
	margin-right:10px;
	height:100%;
}

.grid_4 .contentArea a, .grid_4 .contentArea
{
	color:#666666;
}

.banner
{
	background-image:url("/images/header.png");
	background-repeat:repeat-x;
	height:140px;
}

.grid_6
{
	height:400px;
	background-image:url("/images/columnBG.png");
	background-repeat:no-repeat;
}

.logo, .header
{
	height:140px;
}

.spacer
{
	clear:both;
	height:20px;
}

.header h1 
{
	line-height:100px;
	vertical-align:middle;
}

h1, h2, h3, h4
{
	font-family:sans-serif;
}

body
{
	background-image:url("/images/BodyBG.png");
}

li
{
	font-size:18pt;
}

hr 
{
	 border: 0; 
	 width: 80%; 
	 border-bottom: 1px solid #aaa
}

.download 
{ 
	float: right; 
}

.projectName
{
	font-family:sans-serif;
	font-weight:bold;
	font-variant:small-caps;
}

a img
{
	border:0px;
}

h1 a
{
	color:#000;
	text-decoration:none;
}