---
layout:master
---
		<div id="content" class="container_12 ">
			<div class="grid_6">
				<div class="contentAreaLarge">
					<h1>Projects</h1>
					<ul>
						<li><a href="Squire"><span class="projectName">Squire</span></a> - A set of training exercises to teaches the basics of the .NET Framework.</li>
						<li>Testing</li>  
						{% for post in site.posts %}
		  			<li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="/Squire/{{ post.url }}">{{ post.title }}</a></li>
				  	{% endfor %}
					</ul>
				</div>
			</div>
			<div class="grid_6">
				<div class="contentAreaLarge">
					{{ content }}
				</div>
			</div>
		</div>